*{
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}
body{
  font-family: arial, sans-serif;
  color: #e3e2d8;
  background-color: #0b3840;
}
/*Start of Navagation styles*/
nav{
  background-color: #222323;
}

nav > ul{
  list-style: none;
  /*display: inline-flex;
  justify-content: space-between;*/
}

nav figcaption{
  display: none;
}

nav #logo_fig{
  padding: .5rem;
}

nav #current_page{

}

nav #current_page > h2{
  font-size: 4.5rem;
  font-family: monospace;

  text-align: center;

  position: relative;
  bottom: 3rem;


  text-shadow: 2px 2px 2px #396073;
}

.fade_down{

width: 100%;
height: 6rem;
background: #0b3840;
background: -moz-linear-gradient(0deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
background: linear-gradient(0deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
}

/*End of Navagation styles*/

/*Start of Most Popular styles*/

form{
margin: 0px 1rem;

}

form fieldset{
  text-align: center;
  border-style: solid;

  border-width: 0px;
  background-color: #0b3840;
}
form legend{
    font-size: 4rem;
    font-family: monospace;

    background-color: #222323;
    border-radius: 30px 30px 0px 0px;
    padding: .5rem 3rem;

    text-shadow: 2px 2px 2px #396073;
}

#showcase{
  border-style: solid;
  border-width: 5px;
  border-bottom-width: 0px;
  border-color: #222323;
  -webkit-box-shadow: 2px 2px 8px 2px #222323;
  box-shadow: 2px 2px 8px 2px #222323;
}

#showcase_picture{
  display: block;
  width: 100%;
}

form figcaption{
  display: none;
}

#showcase_buttons{
  background-color: #396073;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #222323;

  display: flex;
  justify-content: space-between;

  -webkit-box-shadow: 2px 2px 8px 2px #222323;
  box-shadow: 2px 2px 8px 2px #222323;
}

#previous_button,
#next_button{
  font-size: 2.5rem;
  font-family: monospace;

  padding: 0.8rem 2rem;
  color: #e3e2d8;
  background-color: #222323;

  text-shadow: 1px 1px 2px #396073;

  border-color: #e3e2d8;
}
#previous_button:hover,
#next_button:hover{
  color: #e3e2d8;
  background-color: #323636;

}
#previous_button:active,
#next_button:active{
  color: #222323;
  background-color: #e3e2d8;

  text-shadow: 1px 1px 2px #222323;
  box-shadow:inset 2px 2px 2px #222323;
}
/*End of Most Popular styles*/

/*Start of Game Card styles*/
#games_section h1{
  display: block;
  text-align: center;
  width: 20rem;
  padding: 1rem;
  margin: auto;
  margin-top: 4rem;

  font-size: 3rem;
  font-family: Elephant, sans-serif;

  background-color: #222323;
  border-radius: 30px;

  -webkit-box-shadow: 2px 2px 5px 1px #222323;
  box-shadow: 2px 2px 5px 1px #222323;

  text-shadow: 2px 2px 2px #396073;
}

#games_section figcaption{
  display: none;
}

.game_card{
	border-style: solid;
  border-width: 5px;

  border-color: #222323;
  background-color: #396073;

  -webkit-box-shadow: 2px 2px 8px 2px #222323;
  box-shadow: 2px 2px 8px 2px #222323;

  width: 26rem;
  margin: 4rem auto;
}

.game_card_image{
  border-style: solid;
  border-width: 0px 5px 5px 0px;
  border-color: #222323;



  float: left;
}
.game_card_image img{
  display: block;
}
.game_card_title{
  text-align: center;
  font-size: 2.5rem;
  margin: 0.3rem 0px 0.3rem 0px;

  text-shadow: 2px 2px 2px #222323;
}
.game_card_tag{
  text-align: center;
  font-size: 2rem;

  text-shadow: 1px 1px 2px #222323;
}
.game_card_tag_text{
  text-align: center;
  font-size: 1.75rem;
}
.game_card_desc{
  clear: both;
  font-size: 1.5rem;
  margin: 1.2rem .5rem .5rem .5rem;
}
.game_price{


  margin: 0.3rem;
  padding: 0.3rem;

  font-size: 1.75rem;
}
.buy_now_button{


  margin: 0.5rem;
  padding: 0.75rem;

  font-size: 2rem;

  color: #e3e2d8;
  background-color: #222323;

  border-style: solid;
  border-width: 2px;
  border-color: #e3e2d8;

  text-decoration: none;

  -webkit-box-shadow: 2px 2px 5px 1px #222323;
  box-shadow: 2px 2px 5px 1px #222323;
}
.buy_now_button:visited{
  text-decoration: none;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*Start of Game Card styles*/

/*Start of Footer styles*/
.fade_up{

width: 100%;
height: 6rem;
background: #222323;
background: -moz-linear-gradient(180deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
background: linear-gradient(180deg, rgba(11,56,64,1) 0%, rgba(34,35,35,1) 100%);
}

footer{
  text-align: center;
  width: 100%;
  background-color: #222323;
}
footer>ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
footer>ul>li{

  font-size: 1rem;
  border-left: #e3e2d8 solid 2px;
  border-right: #e3e2d8 solid 2px;
  text-align: center;
  color: #e3e2d8;
  margin: 40px 2px 40px 2px;
  padding-left: 20px;
  padding-right: 20px;
}

/*End of Footer styles*/
/*Tablet styles*/
@media (min-width: 768px) and (max-width: 1023px){

  /* animations*/
  nav #current_page > h2{

    position: relative;
    animation-name: current_page_drop;
    animation-duration: 1.5s;
  }

/*current page animation*/
  @keyframes current_page_drop {
    0% {
      opacity: 0;
      bottom: 12rem;
    }
    100% {
      opacity: 1;
      bottom: 3rem;
    }
  }

  #showcase_form{

    position: relative;
    animation-name: showcase_anim;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }

/*showcase animation*/
  @keyframes showcase_anim {
    0% {
      opacity: 0;
      top: 24rem;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }

  #games_section{

    position: relative;
    animation-name: games_section_anim;
    animation-duration: 2.5s;
    animation-delay: 4s;
    animation-fill-mode: both;
  }

  #game_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .game_card{
    margin: 2rem;
  }

/*game section animation*/
  @keyframes games_section_anim {
    0% {
      opacity: 0;
      top: 12rem;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
}

/*desktop styles*/
@media (min-width: 1024px){
  /*layout*/

    .game_card{
      margin: 2rem;
    }
    .game_card_title{
      font-size: 2.5rem;
      margin: 0.3rem 0px 0.3rem 0px;
    }
    .game_card_tag{
      font-size: 2rem;

    }
    .game_card_tag_text{
      font-size: 1.5rem;
    }
    .game_card_desc{
      font-size: 1.2rem;
      margin: 1.2rem .5rem .5rem .5rem;
    }
    .game_price{


      margin: 0.3rem;
      padding: 0.3rem;

      font-size: 1.5rem;
    }
    .buy_now_button{


      margin: 0.5rem;
      padding: 0.75rem;

      font-size: 2rem;
    }

  /*animations*/
  nav #current_page > h2{

    position: relative;
    animation-name: current_page_drop;
    animation-duration: 1.5s;
  }

/*current page animation*/
  @keyframes current_page_drop {
    0% {
      opacity: 0;
      bottom: 12rem;
    }
    100% {
      opacity: 1;
      bottom: 3rem;
    }
  }

  #showcase_form{

    position: relative;
    animation-name: showcase_anim;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }

/*showcase animation*/
  @keyframes showcase_anim {
    0% {
      opacity: 0;
      top: 24rem;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }

  #games_section{

    position: relative;
    animation-name: games_section_anim;
    animation-duration: 2.5s;
    animation-delay: 4s;
    animation-fill-mode: both;
  }

  #game_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


/*game section animation*/
  @keyframes games_section_anim {
    0% {
      opacity: 0;
      top: 12rem;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
}
